/* Your styles goes here. */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & > section {
        width: 480px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .title {
        font-size: 5rem;
    }
}
