/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #746A63;
    background-color: #fff;
}
